/* css/graph.css */
#graphContainer {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cy {
  width: 100%;
  height: 600px;
  background-color: #f8f8f8;
}

/* Controles de zoom */
.cy-panzoom {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
